<div class="sideProjects widthContainer">
	<ul class="sideProjects__ul">
		<li class="sideProjects__li">
			This site was built with <strong>Angular Framework</strong> to know how Angular works
			and explore some of its features.
			<a href="https://rubengglez.github.io//">https://rubengglez.github.io/</a>
		</li>
		<li class="sideProjects__li">
			Developing of
			<a href="http://institutodentalyposturalgarla.com/"
				>http://institutodentalyposturalgarla.com/</a
			>
			for the dentistry company Garla S.L. using Wordpress.
		</li>
		<li class="sideProjects__li">
			Developing of <a href="http://pineirosande.com/">http://pineirosande.com/</a>" for the
			dentistry company Piñeiro Sande S.L. using Wordpress.
		</li>
		<li class="sideProjects__li">
			Improvings in web <a href="http://ed-rp.com/">http://ed-rp.com/</a>
		</li>
	</ul>
</div>
