@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../variables.scss';

.header {
	padding: 5%;
	&__photo {
		text-align: center;
		&__img {
			height: $heightPhoto;
			width: $widthPhoto;
			border-radius: 20%;
			display: inline-block;
		}
	}

	&__description {
		padding: 2% 7% 0% 7%;
	}

	&__name {
		font-weight: 900;
		font-size: 2em;
		text-align: center;
		margin-bottom: 3%;
		padding-top: 0;
	}

	&__summary {
		font-weight: 500;
		font-style: italic;
		font-size: 1.3em;
		text-align: center;
	}

	&__fulldescription {
		margin: 7% 7% 2%;
		text-align: justify;
	}
}

@media (min-width: $smallMedium) {
	.header {
		&__photo {
			&__img {
			}
		}

		&__description {
			padding: 3% 0;
		}

		&__name {
		}

		&__summary {
		}

		&__fulldescription {
			margin: 2% 0% 0%;
		}
	}
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
	.header {
		padding-left: 15px;

		&__photo {
			text-align: left;
			&__img {
			}
		}

		&__description {
			padding: 3% 0;
		}

		&__name {
			font-size: 2.3em;
		}

		&__summary {
			font-size: 1.5em;
		}

		&__fulldescription {
			font-size: 1.1em;
			font-weight: 300;
		}
	}
}

@include media-breakpoint-up(lg) {
	.header {
		&__photo {
			&__img {
				width: 150px;
				height: 166px;
			}
		}

		&__description {
			padding: 0;
		}

		&__name {
			font-size: 3em;
		}

		&__summary {
			font-size: 2em;
		}

		&__fulldescription {
			font-size: 1.3em;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header {
		&__photo {
			&__img {
				width: 200px;
				height: 220px;
			}
		}

		&__description {
		}

		&__name {
			font-size: 3.7em;
		}

		&__summary {
			font-size: 2.3em;
		}

		&__fulldescription {
			font-size: 1.3em;
		}
	}
}
