<header class="header container">
	<div class="row">
		<figure class="header__photo col-md-4 col-lg-2">
			<a routerLink="/"
				><img
					class="header__photo__img"
					src="{{ baseUrl }}assets/rubengglez.jpg"
					alt="rubengglez's photo"
			/></a>
		</figure>
		<div class="header__description col-md-8 col-lg-10">
			<h1 class="header__name">Rubén García González</h1>
			<h2 class="header__summary">Software engineer && enthusiastic person</h2>
		</div>
	</div>
	<div class="row container">
		<div class="header__fulldescription col-md-12 widthContainer ">
			<p>
				As good code, ready to accept the change. I like to learn new things every day,
				listener of technology podcasts and appassionate reader of IT books. Worried about
				writing clean code. As well, I'm fan of TDD.
			</p>
			<p>
				Polyglot, I can write code mainly in Javascript/Typescript (for Browser or in NodeJs
				environment) and PHP. I have been testing Ruby language lately. My next aim is to
				dominate a functional language (Elixir is the chosen).
			</p>
		</div>
	</div>
</header>
