<header class="header container">
	<div class="row">
		<figure class="header__photo col-md-4">
			<img
				class="header__photo__img"
				src="../assets/rubengglez.jpg"
				alt="rubengglez's photo"
			/>
		</figure>
		<div class="header__description col-md-8">
			<h1 class="header__name">Rubén García González</h1>
			<h2 class="header__summary">Software engineer && enthusiastic person</h2>
			<p class="header_fulldescription">
				Interested in clean code. I try to learn new things every day listening to
				technology podcasts, lectures, courses and books. As well, I'm fan of TDD. Polyglot,
				I can write code in Javascript/Typescript, PHP or Java, between others. Adaptability
			</p>
		</div>
	</div>
</header>
