<header class="header container">
    <div class="row">
        <figure class="header__photo col-md-4">
            <img class="header__photo__img" src="../assets/rubengglez.jpg" alt="rubengglez's photo">
        </figure>
        <div class="description col-md-8">
            <h1>Rubén García González</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus distinctio voluptas excepturi est
                soluta explicabo eius, mollitia fugiat esse, eaque ipsam, quam consectetur quasi asperiores quod aut
                veritatis eveniet cumque.</p>
        </div>
    </div>
</header>