<div class="social">
	<h4 class="social__title sideTitle">SOCIAL NETWORKS</h4>
	<figure class="social__icon">
		<a href="https://www.linkedin.com/in/rubengglez/">
			<img
				src="{{ baseUrl }}assets/images/social/linkedin.png"
				alt="Rubén García González linkedin"
			/>
		</a>
	</figure>
	<figure class="social__icon">
		<a href="https://github.com/rubengglez">
			<img
				src="{{ baseUrl }}assets/images/social/github.png"
				alt="Rubén García González Github"
			/>
		</a>
	</figure>
	<div class="social__email">
		<p>
			If you're interested in speaking with me, send me an email to <br />
			<a href="mailto:rubengglez@gmail.com" class="social__linkMail"
				>rubengglez (at) gmail (dot) com</a
			>
		</p>
	</div>
</div>
