<ul class="menu nav justify-content-center">
	<li class="menu__li nav-item">
		<a
			class="nav-link active menu__a"
			routerLink="/experience"
			routerLinkActive="menu__a--active"
			>Experience</a
		>
	</li>
	<li class="menu__li nav-item">
		<a class="nav-link menu__a" routerLink="/side-projects" routerLinkActive="menu__a--active"
			>Side project</a
		>
	</li>
	<li class="menu__li nav-item">
		<a class="nav-link menu__a" routerLink="/education" routerLinkActive="menu__a--active"
			>Education</a
		>
	</li>
	<li class="menu__li nav-item">
		<a class="nav-link menu__a" routerLink="/github" routerLinkActive="menu__a--active"
			>Github</a
		>
	</li>
</ul>
<router-outlet></router-outlet>
